<!-- start custom footer snippets -->
<div class="footerhead">
  <div class="container footerWrapper flexcontainer">
    <div>
      <div class="leftAlign">
        <h3>External Links</h3>
        <ul class="list-unstyled quick-links">
          <li><a href="https://kamandprompt.zulipchat.com/" class="footerNav" target="_blank"><i class="fas fa-comments socialIcons fa"></i> Join us on ZulipChat</a></li>
          <li><a href="https://www.facebook.com/groups/KamandPrompt/" class="footerNav" target="_blank"><i class="fas fa-users socialIcons fa"></i> Join us on Facebook</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div class="rightAlign" id="contact">
        <h3>Contact Us</h3>
        <ul class="list-unstyled quick-links">
          <li><a class="footerNav"><i class="fa fa-map-marker socialIcons"></i> Indian Institute of Technology Mandi,<br /><span id="spacing"></span>Kamand (H.P.) - 175005</a></li>
          <li><a class="footerNav" href="mailto:pc@iitmandi.ac.in"><i class="fa far fa-envelope socialIcons"></i> pc@iitmandi.ac.in</li></a>
        </ul>
      </div>
    </div>
  </div>
  <br>
</div>
<!-- end custom footer snippets -->
